textarea { 
    width: 100%;
    height: 90%;
    resize: none;
    padding: 1em;
    background-color:blanchedalmond;
 }

 .container.content {
    margin-top: 20;
    width: 100%;
    height: 90%;
 }
 .btn.btn-clear {
    margin-right: 20;
 }
 .btn {
    width: 100;
 }